* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
p {
    color: #666;
    font-size: 14px;
    font-family: PT Sans;
    line-height: 24px;
}
h2 {
    color: #171717;
    font-size: 25px;
    font-family: PT Sans;
    font-weight: 700;
    line-height: 28px;
    padding-left: 30px;
}
.header-span {
    background-color: #4A90E2;
    padding: 3px 5px;
    border-radius: 7px;
}
.header-nav {
    display: flex;
    gap: 30px;
    padding-right: 90px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    background-color: #000;
    padding: 36px 0;
}
.inner-header {
    color: white;
    display: flex;
    justify-content: space-between;
}
.search-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-12 {
    width: 100%;
    padding: 15px;
}
.col-4 {
    width: 33.33%;
    padding: 15px;
}
.col-3 {
    width: 25%;
    padding: 15px;
}
.box {
    overflow: hidden;
    margin-top: 28px;;
    color: white;
    position: relative;
}
.first-img {
    height: 560px;
    background: url(../assets/png/first-car.png) no-repeat center/cover;
}
.card-btn {
    padding: 2px 12px;
    background-color: #4A90E2;
    position: absolute;
    top: 22px;
    left: -71px;
    transition: 0.6s;
}
.card-btn:hover {
    background-color: #01428d;
}
.inner-box {
    width: 363px;
    position: absolute;
    bottom: 23px;
    left: -363px;
    transition: 0.6s;
}
.card-title {
    padding-top: 6px;
}
.box:hover .card-btn {
    left: 22px;
}
.box:hover .inner-box {
    left: 22px;
}
.second-img {
    height: 265px;
    background: url(../assets/png/second-car.png) no-repeat center/cover;
}
.third-img {
    height: 265px;
    background: url(../assets/png/third-car.png) no-repeat center/cover;
}
.forth-img {
    height: 265px;
    background: url(../assets/png/fourth-car.png) no-repeat center/cover;
}
.fifth-img {
    height: 265px;
    background: url(../assets/png/fifth-car.png) no-repeat center/cover;
}
.box-2-btn {
    margin: 30px 0 20px 30px;
    padding: 2px 12px;
    background-color: #4A90E2;
    top: 22px;
}
.box-2 {
    position: relative;

}
.box-2-title {
    width: 1000px;
    height: 249px;
    background-color: white;
    position: absolute;
    bottom: -100px;
    right: 85px;
    box-shadow: 0px 1px 11px 9px rgba(34, 60, 80, 0.2);
}
.italic-p {
    font-style: italic;
    padding: 15px 30px;
}
.normal-p {
    max-width: 700px;
    padding-left: 30px;
}
.first-car {
    height: 500px;
    background: url(../assets/png/mers-1.png) no-repeat center/cover;
}
.m-top {
    margin-top: 150px;
}
.second-car {
    height: 500px;
    background: url(../assets/png/bmw-2.png) no-repeat center/cover;
}
.third-car {
    height: 500px;
    background: url(../assets/png/ferrari-3.png) no-repeat center/cover;
}
.forth-car {
    height: 500px;
    background: url(../assets/png/Jeep-4.png) no-repeat center/cover;
}
.fifth-car {
    height: 500px;
    background: url(../assets/png/jeep-5.png) no-repeat center/cover;
}
.pages {
    display: block;
}
.pages a {
    color: black;
    padding: 10px 13px;
    background-color: #E5E5E5;
}
.pages a:hover {
    color: white;
    background-color: black;
}
.most {
    padding: 80px 0 27px 0;
    color: #171717;
    font-size: 30px;
    font-family: PT Sans;
    font-weight: 700;
}
.box-3-bg {
    height: 195px;
}
.bg-1 {
    background: url(../assets/png/for-bg-1.png) no-repeat center/cover;
}
.bg-2 {
    background: url(../assets/png/for-bg-2.png) no-repeat center/cover;
}
.bg-3 {
    background: url(../assets/png/for-bg-3.png) no-repeat center/cover;
}
.bg-4 {
    background: url(../assets/png/for-bg-4.png) no-repeat center/cover;
}
.bmw {
    padding: 2px 12px;
    background-color: #4A90E2;
    margin: 20px;
}
.box-3 h2 {
    padding: 20px 0 10px 0;
}
.box-3 p {
    font-style: italic;
}
.bgblack {
    background-color: #171717;
    padding-top: 65px;
}
.box-last1 p {
    color: white;
    padding: 30px 0 64px 0;
}
.box-last1 h4 {
    padding-bottom: 23px;
    color: #FFF;
    font-size: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.recent {
    display: flex;
    padding-top: 20px;
}
.box-last1 h3 {
    color: white;
}
.box-last2 h5 {
    color: #FFF;
    font-size: 15px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
.box-last2 h4 {
    color: #FFF;
    font-size: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.box-last2 p {
    padding: 13px 0 0 0;
    color: white;
}
.recent-img {
    padding-right: 20px;
}
.box-last3 h4 {
    color: #FFF;
    font-size: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 38px;
}
.box-last3 input {
    width: 270px;
    padding: 15px;
    border-radius: 3px;
    background: #373737;
    border: none;
    margin-bottom: 10px;
    color: #AEB3BB;
}
.last-button {
    color: #AEB3BB;
    padding: 15px 64px;
    border-radius: 3px;
    background: #373737;
    border: none;
}
.footer {
    background-color: black;
}
.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0;
}
.footer-links ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
.Rights p {
    color: white;
}